<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template is the starting point for any iOS application using CMX SDK v0.9.</string>
	<key>Identifier</key>
	<string>com.cisco.cmx.iOSApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAME___-Prefix.pch:objC:importMobileCoreServices</key>
		<string>#import &lt;MobileCoreServices/MobileCoreServices.h&gt;</string>
		<key>___PACKAGENAME___-Prefix.pch:objC:importSystemConfiguration</key>
		<string>#import &lt;SystemConfiguration/SystemConfiguration.h&gt;</string>
		<key>___VARIABLE_classPrefix:identifier___AppDelegate.m</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.m</string>
		</dict>
		<key>___VARIABLE_classPrefix:identifier___AppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.h</string>
		</dict>
		<key>CMX.framework</key>
		<dict>
			<key>Path</key>
			<string>CMX.framework</string>
		</dict>
		<key>FacebookSDK.framework</key>
		<dict>
			<key>Path</key>
			<string>FacebookSDK.framework</string>
		</dict>
		<key>CMXBannerViewController.xib</key>
		<dict>
			<key>Path</key>
			<string>CMXBannerViewController.xib</string>
		</dict>
		<key>CMXLaunchViewController.xib</key>
		<dict>
			<key>Path</key>
			<string>CMXLaunchViewController.xib</string>
		</dict>
		<key>CMXMenuViewController.xib</key>
		<dict>
			<key>Path</key>
			<string>CMXMenuViewController.xib</string>
		</dict>
		<key>CMXPoiViewController.xib</key>
		<dict>
			<key>Path</key>
			<string>CMXPoiViewController.xib</string>
		</dict>
		<key>CMXSettingsViewController.xib</key>
		<dict>
			<key>Path</key>
			<string>CMXSettingsViewController.xib</string>
		</dict>
		<key>Localizable.strings</key>
		<dict>
			<key>Path</key>
			<string>en.lproj/Localizable.strings</string>
		</dict>
		<key>Images</key>
		<dict>
			<key>Path</key>
			<string>./images/</string>
			<key>PathType</key>
			<string>Group</string>
		</dict>
		<key>arrow_right_white.png</key>
		<dict>
			<key>Path</key>
			<string>images/arrow_right_white.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_action_refresh.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_action_refresh.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_action_refresh@2x.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_action_refresh@2x.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_action_share.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_action_share.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_action_share@2x.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_action_share@2x.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_action_target_destination.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_action_target_destination.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_action_target_destination@2x.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_action_target_destination@2x.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_menu_item_accessory_down.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_menu_item_accessory_down.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_menu_item_accessory_down@2x.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_menu_item_accessory_down@2x.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_menu_item_accessory_right.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_menu_item_accessory_right.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_menu_item_accessory_right@2x.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_menu_item_accessory_right@2x.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_menu_item_accessory_up.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_menu_item_accessory_up.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_menu_item_accessory_up@2x.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_menu_item_accessory_up@2x.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_menu_item_location.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_menu_item_location.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_menu_item_location@2x.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_menu_item_location@2x.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_menu_item_settings.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_menu_item_settings.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_menu_item_settings@2x.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_menu_item_settings@2x.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_target_location.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_target_location.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_target_location@2x.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_target_location@2x.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_user_direction.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_user_direction.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_user_direction@2x.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_user_direction@2x.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_user_location.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_user_location.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_user_location@2x.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_user_location@2x.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_feedback_user_location.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_feedback_user_location.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>cmx_feedback_user_location@2x.png</key>
		<dict>
			<key>Path</key>
			<string>images/cmx_feedback_user_location@2x.png</string>
			<key>Group</key>
			<string>images</string>
		</dict>
		<key>Default.png</key>
		<dict>
			<key>Path</key>
			<string>Default.png</string>
		</dict>
		<key>Default@2x.png</key>
		<dict>
			<key>Path</key>
			<string>Default@2x.png</string>
		</dict>
		<key>Default-568h@2x.png</key>
		<dict>
			<key>Path</key>
			<string>Default-568h@2x.png</string>
		</dict>
		<key>Icon.png</key>
		<dict>
			<key>Path</key>
			<string>Icon.png</string>
		</dict>
		<key>Icon@2x.png</key>
		<dict>
			<key>Path</key>
			<string>Icon@2x.png</string>
		</dict>
		<key>AFNetworking/AFHTTPClient.h</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/AFHTTPClient.h</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>AFNetworking/AFHTTPClient.m</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/AFHTTPClient.m</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>AFNetworking/AFHTTPRequestOperation.h</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/AFHTTPRequestOperation.h</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>AFNetworking/AFHTTPRequestOperation.m</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/AFHTTPRequestOperation.m</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>AFNetworking/AFImageRequestOperation.h</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/AFImageRequestOperation.h</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>AFNetworking/AFImageRequestOperation.m</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/AFImageRequestOperation.m</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>AFNetworking/AFJSONRequestOperation.h</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/AFJSONRequestOperation.h</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>AFNetworking/AFJSONRequestOperation.m</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/AFJSONRequestOperation.m</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>AFNetworking/AFNetworkActivityIndicatorManager.h</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/AFNetworkActivityIndicatorManager.h</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>AFNetworking/AFNetworkActivityIndicatorManager.m</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/AFNetworkActivityIndicatorManager.m</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>AFNetworking/AFNetworking.h</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/AFNetworking.h</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>AFNetworking/AFPropertyListRequestOperation.h</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/AFPropertyListRequestOperation.h</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>AFNetworking/AFPropertyListRequestOperation.m</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/AFPropertyListRequestOperation.m</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>AFNetworking/AFURLConnectionOperation.h</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/AFURLConnectionOperation.h</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>AFNetworking/AFURLConnectionOperation.m</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/AFURLConnectionOperation.m</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>AFNetworking/AFXMLRequestOperation.h</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/AFXMLRequestOperation.h</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>AFNetworking/AFXMLRequestOperation.m</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/AFXMLRequestOperation.m</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>AFNetworking/UIImageView+AFNetworking.h</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/UIImageView+AFNetworking.h</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>AFNetworking/UIImageView+AFNetworking.m</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/AFNetworking/UIImageView+AFNetworking.m</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>AFNetworking</string>
			</array>
		</dict>
		<key>JASidePanels/JASidePanelController.h</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/JASidePanels/JASidePanelController.h</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>JASidePanels</string>
			</array>
		</dict>
		<key>JASidePanels/JASidePanelController.m</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/JASidePanels/JASidePanelController.m</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>JASidePanels</string>
			</array>
		</dict>
		<key>JASidePanels/UIViewController+JASidePanel.h</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/JASidePanels/UIViewController+JASidePanel.h</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>JASidePanels</string>
			</array>
		</dict>
		<key>JASidePanels/UIViewController+JASidePanel.m</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/JASidePanels/UIViewController+JASidePanel.m</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>JASidePanels</string>
			</array>
		</dict>
		<key>Reachability/Reachability.h</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/Reachability/Reachability.h</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>Reachability</string>
			</array>
		</dict>
		<key>Reachability/Reachability.m</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/Reachability/Reachability.m</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>Reachability</string>
			</array>
		</dict>
		<key>SMCalloutView/SMCalloutView.h</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/SMCalloutView/SMCalloutView.h</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>SMCalloutView</string>
			</array>
		</dict>
		<key>SMCalloutView/SMCalloutView.m</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/SMCalloutView/SMCalloutView.m</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>SMCalloutView</string>
			</array>
		</dict>
		<key>Toast/UIView+Toast.h</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/Toast/UIView+Toast.h</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>Toast</string>
			</array>
		</dict>
		<key>Toast/UIView+Toast.m</key>
		<dict>
			<key>Path</key>
			<string>3rdParty/Toast/UIView+Toast.m</string>
			<key>Group</key>
			<array>
				<string>3rdParty</string>
				<string>Toast</string>
			</array>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>CMX server base URL</string>
			<key>Identifier</key>
			<string>ServerBaseURL</string>
			<key>Name</key>
			<string>CMX server base URL</string>
			<key>NotPersisted</key>
			<false/>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>https://</string>
			<key>Required</key>
			<true/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Use Facebook</string>
			<key>Identifier</key>
			<string>UseFacebook</string>
			<key>Name</key>
			<string>Use Facebook</string>
			<key>NotPersisted</key>
			<false/>
			<key>Placeholder</key>
			<string>None</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Required</key>
			<false/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>___PACKAGENAME___-Info.plist:FacebookAppID</key>
						<string>&lt;key&gt;FacebookAppID&lt;/key&gt;&lt;string&gt;___VARIABLE_FacebookAppID___&lt;/string&gt;</string>
						<key>___PACKAGENAME___-Info.plist:FacebookDisplayName</key>
						<string>&lt;key&gt;FacebookDisplayName&lt;/key&gt;&lt;string&gt;___PACKAGENAME___&lt;/string&gt;</string>
						<key>___PACKAGENAME___-Info.plist:FacebookURLtypes</key>
						<string>&lt;key&gt;CFBundleURLTypes&lt;/key&gt;&lt;array&gt;&lt;dict&gt;&lt;key&gt;CFBundleURLSchemes&lt;/key&gt;			&lt;array&gt;				&lt;string&gt;fb___VARIABLE_FacebookAppID___&lt;/string&gt;			&lt;/array&gt;
		&lt;/dict&gt;
	&lt;/array&gt;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>___PACKAGENAME___-Info.plist:FacebookAppID</string>
						<string>___PACKAGENAME___-Info.plist:FacebookDisplayName</string>
						<string>___PACKAGENAME___-Info.plist:FacebookURLtypes</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Description</key>
			<string>Facebook app ID</string>
			<key>Identifier</key>
			<string>FacebookAppID</string>
			<key>Name</key>
			<string>Facebook app ID</string>
			<key>NotPersisted</key>
			<false/>
			<key>Placeholder</key>
			<string>None</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<false/>
			<key>RequiredOptions</key>
			<dict>
				<key>UseFacebook</key>
				<string>true</string>
			</dict>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>Frameworks</key>
			<array>
				<string>Security</string>
				<string>CoreLocation</string>
				<string>SystemConfiguration</string>
				<string>MobileCoreServices</string>
				<string>QuartzCore</string>
				<string>CoreText</string>
				<string>Social</string>
				<string>Accounts</string>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Prefix.pch:objC:importMobileCoreServices</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:importSystemConfiguration</string>
		<string>CMX.framework</string>
		<string>FacebookSDK.framework</string>
		<string>___VARIABLE_classPrefix:identifier___AppDelegate.m</string>
		<string>___VARIABLE_classPrefix:identifier___AppDelegate.h</string>
		<string>CMXBannerViewController.xib</string>
		<string>CMXLaunchViewController.xib</string>
		<string>CMXMenuViewController.xib</string>
		<string>CMXPoiViewController.xib</string>
		<string>CMXSettingsViewController.xib</string>
		<string>Localizable.strings</string>
		<string>arrow_right_white.png</string>
		<string>cmx_action_refresh.png</string>
		<string>cmx_action_refresh@2x.png</string>
		<string>cmx_action_share.png</string>
		<string>cmx_action_share@2x.png</string>
		<string>cmx_action_target_destination.png</string>
		<string>cmx_action_target_destination@2x.png</string>
		<string>cmx_menu_item_accessory_down.png</string>
		<string>cmx_menu_item_accessory_down@2x.png</string>
		<string>cmx_menu_item_accessory_right.png</string>
		<string>cmx_menu_item_accessory_right@2x.png</string>
		<string>cmx_menu_item_accessory_up.png</string>
		<string>cmx_menu_item_accessory_up@2x.png</string>
		<string>cmx_menu_item_location.png</string>
		<string>cmx_menu_item_location@2x.png</string>
		<string>cmx_menu_item_settings.png</string>
		<string>cmx_menu_item_settings@2x.png</string>
		<string>cmx_target_location.png</string>
		<string>cmx_target_location@2x.png</string>
		<string>cmx_user_direction.png</string>
		<string>cmx_user_direction@2x.png</string>
		<string>cmx_user_location.png</string>
		<string>cmx_user_location@2x.png</string>
		<string>cmx_feedback_user_location.png</string>
		<string>cmx_feedback_user_location@2x.png</string>
		<string>Default.png</string>
		<string>Default@2x.png</string>
		<string>Default-568h@2x.png</string>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>AFNetworking/AFHTTPClient.h</string>
		<string>AFNetworking/AFHTTPClient.m</string>
		<string>AFNetworking/AFHTTPRequestOperation.h</string>
		<string>AFNetworking/AFHTTPRequestOperation.m</string>
		<string>AFNetworking/AFImageRequestOperation.h</string>
		<string>AFNetworking/AFImageRequestOperation.m</string>
		<string>AFNetworking/AFJSONRequestOperation.h</string>
		<string>AFNetworking/AFJSONRequestOperation.m</string>
		<string>AFNetworking/AFNetworkActivityIndicatorManager.h</string>
		<string>AFNetworking/AFNetworkActivityIndicatorManager.m</string>
		<string>AFNetworking/AFNetworking.h</string>
		<string>AFNetworking/AFPropertyListRequestOperation.h</string>
		<string>AFNetworking/AFPropertyListRequestOperation.m</string>
		<string>AFNetworking/AFURLConnectionOperation.h</string>
		<string>AFNetworking/AFURLConnectionOperation.m</string>
		<string>AFNetworking/AFXMLRequestOperation.h</string>
		<string>AFNetworking/AFXMLRequestOperation.m</string>
		<string>AFNetworking/UIImageView+AFNetworking.h</string>
		<string>AFNetworking/UIImageView+AFNetworking.m</string>
		<string>JASidePanels/JASidePanelController.h</string>
		<string>JASidePanels/JASidePanelController.m</string>
		<string>JASidePanels/UIViewController+JASidePanel.h</string>
		<string>JASidePanels/UIViewController+JASidePanel.m</string>
		<string>Reachability/Reachability.h</string>
		<string>Reachability/Reachability.m</string>
		<string>SMCalloutView/SMCalloutView.h</string>
		<string>SMCalloutView/SMCalloutView.m</string>
		<string>Toast/UIView+Toast.h</string>
		<string>Toast/UIView+Toast.m</string>
	</array>
</dict>
</plist>
